html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #5d686f;
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
  background-image: linear-gradient(90deg, rgba(60,10,30,0.04) 3%, transparent 0), linear-gradient(1turn, rgba(60,10,30,0.04) 3%, transparent 0);
  background-size: 20px 20px;
  background-position: 50%;
}
ul {
  padding: 0 0 0 1.25rem;
}
ol {
  padding: 0 0 0 1.25rem;
}
blockquote {
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #f2f2f2;
  border-radius: 4px;
}
code {
  color: #ffad00;
  padding: 1px 2px;
  border-radius: 4px;
  background: #f5f5f5;
}
.sidebar {
  animation: leftToView 0.5s ease-in-out;
  padding: 20px;
  width: 260px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 2px #ddd;
  text-align: center;
}
.sidebar .title {
  margin: 0.75rem 0 0;
}
.sidebar .subtitle {
  margin: 0 0 0.5rem;
}
.sidebar img.avatar {
  display: block;
  width: 100px;
  border-radius: 50%;
  margin: 0 auto 10px;
}
.sidebar .icon-list a {
  display: inline-block;
  margin: 10px 2px;
  text-decoration: none;
}
.sidebar .notice {
  text-align: left;
  border: 1px solid #dbdbde;
}
.sidebar .notice h3 {
  padding: 5px 0;
  margin: 0;
  text-align: center;
  height: 18px;
  line-height: 18px;
  font-size: 1rem;
  background: #dbdbde;
}
.sidebar .notice p {
  margin: 8px;
  font-size: 0.75rem;
}
.sidebar .notice p a {
  text-decoration: none;
  color: #368ccb;
}
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
.home-container {
  display: flex;
  overflow: hidden;
}
.index-container {
  animation: fadeIn 0.5s ease-in-out;
  flex: 1;
  overflow: auto;
  padding: 0 10px;
}
.index-container .post {
  max-width: 1700px;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  border-bottom: 1px solid #f1f1f4;
}
.index-container .post .post-title {
  font-size: 1.8rem;
}
.index-container .post .post-title .post-title-link {
  letter-spacing: -0.04em;
  font-weight: 700;
  line-height: 1.45em;
  color: #4a4a4a;
  text-decoration: none;
}
.index-container .post .post-content {
  overflow: hidden;
  min-height: 1rem;
}
.index-container .post .post-content a {
  color: #368ccb;
  text-decoration: none;
}
.index-container .post .post-content img {
  display: block;
  width: 100%;
}
.index-container .post .post-meta {
  color: #bababa;
}
.index-container .post .post-meta .post-read-more-link {
  color: #368ccb;
  text-decoration: none;
}
.index-container .post.post-list-item:last-of-type {
  border: none;
}
.header-container {
  animation: topToView 0.5s ease-in-out;
  height: 55px;
  line-height: 55px;
  text-align: center;
}
.header-container .header-title {
  display: inline-flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}
.header-container .header-title span {
  margin: 0 0 0 10px;
}
.article-container {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.article-body {
  flex: 1;
  overflow: hidden;
  display: flex;
  box-shadow: 0 0 2px #ddd;
}
.article-body .post-toc {
  animation: leftToView 0.5s ease-in-out;
  position: relative;
  width: 300px;
  height: 100%;
  padding: 1.2rem;
  overflow: auto;
  box-shadow: 1px 0 0 0 #f2f2f2;
  box-sizing: border-box;
}
.article-body .post-toc h3 {
  margin: 0;
  font-weight: normal;
}
.article-body .post-toc ol {
  list-style: none;
  padding: 0;
}
.article-body .post-toc ol ol {
  padding: 0 0 0 1em;
}
.article-body .post-toc a {
  display: block;
  padding: 4px 0 4px 0.5em;
  color: #368ccb;
  text-decoration: none;
}
.article-body .post-toc a:hover {
  border-radius: 4px;
  background-color: #9acd32;
  color: #fff;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .article-body .post-toc {
    display: none;
  }
}
.article-body .post-container {
  animation: fadeIn 0.5s ease-in-out;
  flex: 1;
  height: 100%;
  overflow: auto;
  padding: 0 20px;
}
.article-body .post-container .post-title h2.title {
  font-size: 2rem;
  margin: 1rem 0;
}
.article-body .post-container .post-title .post-title-link {
  color: #368ccb;
  text-decoration: none;
}
.article-body .post-container .post-content {
  overflow: hidden;
  min-height: 1rem;
}
.article-body .post-container .post-content a {
  color: #368ccb;
  text-decoration: none;
}
.article-body .post-container .post-content img {
  display: block;
  width: 100%;
  max-width: 300px;
  border: 1px solid #dbdbde;
  box-sizing: border-box;
}
.article-body .post-container .post-meta {
  color: #bababa;
}
.highlight {
  margin: 10px 0;
  background-color: #272c34;
  color: #fff;
  border-radius: 4px;
}
.highlight td .line {
  height: 1.5rem;
  line-height: 1.5rem;
}
.highlight td.gutter {
  text-align: right;
}
.highlight td.gutter .line {
  display: inline-block;
  padding: 0 10px;
  color: #495162;
  text-align: right;
}
.highlight td.code .line .comment {
  color: #676f7d;
}
.highlight td.code .line .tag {
  color: #bbb;
}
.highlight td.code .line .name {
  color: #e06c75;
}
.highlight td.code .line .attr {
  color: #98c379;
}
.highlight td.code .line .string {
  color: #e5c07b;
}
.highlight td.code .line .keyword {
  color: #56b6c2;
}
.highlight td.code .line .built_in {
  color: #98c379;
}
.highlight td.code .line .title.class_ {
  color: #29eec6;
}
.highlight td.code .line .title.function_ {
  color: #ebeb9b;
}
.highlight td.code .line .selector-class,
.highlight td.code .line .selector-tag {
  color: #8ed588;
}
.highlight td.code .line .attribute {
  color: #cbaaf9;
}
.highlight,
.highlight>table,
.highlight>table>tbody,
.highlight>table>tbody>tr {
  display: block;
  width: 100%;
  overflow: hidden;
}
.highlight>table>tbody>tr {
  display: flex;
}
.highlight>table>tbody>tr>.code {
  display: block;
  flex: 1;
  overflow: auto;
}
.highlight>table>tbody>tr>.code::-webkit-scrollbar {
  padding-left: 4.5rem;
  width: 6px;
  height: 12px;
  background-color: transparent;
}
.highlight>table>tbody>tr>.code::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: transparent;
}
.highlight>table>tbody>tr>.code::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgba(144,147,153,0.4);
}
footer p {
  padding: 10px 0;
  font-size: 12px;
  text-align: center;
}
footer p a {
  color: #999;
  text-decoration: none;
}
.go-top {
  position: fixed;
  bottom: 40px;
  right: 30px;
  padding: 4px;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #000;
  color: #fff;
  opacity: 0.2;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
}
.go-top:hover {
  opacity: 0.6;
}
.search-btn {
  cursor: pointer;
}
.search-container {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}
.search-container .search-content {
  border-radius: 4px;
  position: absolute;
  top: 20px;
  left: 10vw;
  width: 80vw;
  max-height: 80vh;
  background: #fff;
  background-image: linear-gradient(90deg, rgba(60,10,30,0.04) 3%, transparent 0), linear-gradient(1turn, rgba(60,10,30,0.04) 3%, transparent 0);
  background-size: 20px 20px;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.search-container .search-content .search-input {
  padding: 10px;
  box-shadow: 0 1px 0 0 #f2f2f2;
}
.search-container .search-content .search-input input {
  border-radius: 10px;
  border: 2px solid #368ccb;
  padding: 0.75rem;
  font-size: 1.25rem;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}
.search-container .search-content .search-result-container {
  padding: 10px;
  flex: 1;
  overflow: auto;
}
.search-container .search-content .search-result-container .search-result-list {
  list-style: none;
  padding: 0;
}
.search-container .search-content .search-result-container .search-result-list .search-result {
  margin: 0.75rem;
}
.search-container .search-content .search-result-container .search-result-list .search-result-title {
  font-size: 1.25rem;
  color: #368ccb;
  text-decoration: none;
}
.search-container .search-content .search-result-container .search-result-list .search-keyword {
  color: #f00;
  font-weight: bold;
  text-decoration: underline;
}
.show-search {
  display: block;
}
.archive-container {
  height: 100%;
  overflow: hidden;
  display: flex;
}
.archive-container .post-archive {
  animation: fadeIn 0.5s ease-in-out;
  flex: 1;
  overflow: auto;
  padding: 2rem;
}
.archive-container .post-archive a {
  color: #368ccb;
  text-decoration: none;
}
.page-nav {
  text-align: center;
  padding: 10px 0;
}
.page-nav .page-number,
.page-nav .prev,
.page-nav .next {
  margin-right: 8px;
  border-radius: 4px;
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
.page-nav .page-number:not(.current):hover,
.page-nav .next:hover,
.page-nav .prev:hover {
  background-color: #ebf1fe;
  color: #197afa;
}
.page-nav .page-number.current {
  background-color: #197afa;
  color: #fff;
}
@-moz-keyframes topToView {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes topToView {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes topToView {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes topToView {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes leftToView {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes leftToView {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes leftToView {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes leftToView {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
